/* styles/print.css */
@media print {
  body {
    visibility: hidden;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  
  .printable-area {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
  }

  .no-print {
    display: none !important;
  }
}